
body {
  margin: 0;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* background-color: rgb(61, 61, 61);
  color: white; */
  background-color: #f9f9f9;
  text-align: center;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

h4 {
  font-weight: 700;
}

.Header {
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
}

.Header div {
  align-items: center;
  /* background-color: white; */
  display: flex;
  height: 50px;
  padding: 0 30px;
  
}

.Header div a {
  color: rgb(74, 85, 104);
  font-size: 0.875rem;
  padding: 0 10px;
  text-decoration: none;
}

.Header div h4 {
  margin-right: 30px;
  padding-right: 40px;
}

.Header div img {
  margin-right: 30px;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

main {
  padding: 40px;
}

.main-content{
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
}

.Sidebar {
  /* background-color: white; */
  border-right: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  text-align: start;
  width: 300px;
}

.Sidebar nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Sidebar h4 {
  border-bottom: 1px solid #e1e1e1;
  padding: 20px;
}

.Sidebar a {
  color: #3e3e3e;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.Sidebar a:hover {
  background-color: #e1e1e1;
  text-decoration: none;
}
